@import url('././assets/fonts/font.css');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*roots*/

:root {
  --color-white: #fff;
  --color-primary-800: #294f36;
  --color-primary-700: #315f41;
  --color-primary-600: #417f56;
  --color-primary-500: #b0d7bd;
  --color-primary-400: #cae4d3;
  --color-primary-300: #e5f2e9;
  --color-natural-100: #e1e1e1;
  --color-natural-400: #717171;
  --color-natural-800: #353535;
  --box-shadow: 0 0 0 3px #e5f2e9;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.8;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}

body {
  min-height: 100vh;
  font-family: 'Vazir';
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
  direction: rtl;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
/* .app-container {
  max-width: 1140px;
  margin: 0 auto;
} */
.navbar-container {
  background-color: var(--color-white);
  height: 64px;
  position: sticky;
  z-index: 10;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.navbar__icons {
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__icons .icon__card,
.navbar__icons .icon__user {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-300);
  color: var(--color-primary-800);
  border-radius: 5px;
  width: 30px;
  height: 30px;
}
.navbar__icons .icon__search {
  display: none;
}
.navbar__items ul {
  display: none;
}
@media screen and (min-width: 1024px) {
  .app-container {
    max-width: 100%;
    /* margin: 0 auto; */
  }
  .navbar-container {
    max-width: 1440px;
    margin: auto;
    height: 75px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  .navbar__menue {
    display: none;
  }
  .navbar__icons {
    width: 130px;
  }
  .navbar__icons .icon__card,
  .navbar__icons .icon__user,
  .navbar__icons .icon__search {
    width: 40px;
    height: 40px;
  }
  .navbar__icons .icon__search {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-300);
    color: var(--color-primary-800);
    border-radius: 5px;
  }
  .navbar__items ul {
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    color: var(--color-natural-400);
  }
  .navbar__items ul li {
    cursor: pointer;
  }
}

/* banner */
.swiper {
  width: 100%;
  height: 176px;
}
.swiper__slide {
  text-align: center;
  padding-top: 4em;
  height: 176px;
  background-image: var(--image-url);
  background-size: cover;
  background-position: center;
}
.swiper__text {
  font-size: 18px;
  color: var(--color-white);
  font-weight: bold;
}
.swiper__btn {
  background-color: var(--color-primary-600);
  padding: 0.75rem 2rem;
  font-size: 14px;
  font-weight: medium;
  color: var(--color-white);
  border-radius: 5px;
  margin-top: 2rem;
}

.swiper-pagination {
  background-color: var(--color-white);
  width: fit-content !important;
  position: absolute;
  bottom: -0.25em !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto;
  padding: 0.5em 0.25em;
  border-radius: 1.5em;
  display: flex;
  align-items: center;
}
.swiper-pagination::before {
  content: '';
  width: 2.2em;
  height: 1.5em;
  background-color: var(--color-white);
  position: absolute;
  left: 0;
  top: 0.55em;
  transform: rotate(-45deg) translate(-1em, -0.65em);
}
.swiper-pagination::after {
  content: '';
  width: 2.2em;
  height: 1.5em;
  background-color: var(--color-white);
  position: absolute;
  right: 0;
  top: 0.55em;
  transform: rotate(45deg) translate(1em, -0.65em);
}
.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background-color: #adadad !important;
  opacity: 1 !important;
  z-index: inherit;
}
.swiper-pagination-bullet-active {
  width: 8px !important;
  height: 8px !important;
  background-color: #417f56 !important;
  z-index: inherit;
  box-shadow: 0 0 0 3px #e5f2e9;
}

@media screen and (min-width: 1024px) {
  .swiper {
    height: 336px;
  }

  .swiper__text {
    font-size: 26px;
    margin-top: 7rem;
  }
  .swiper__btn {
    width: 184px;
    height: 40px;
    margin-top: 5rem;
    font-size: 16px;
  }
}

/* menu */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-container {
  width: 320px;
  height: 32px;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-natural-100);
  padding: 0.75rem 1rem;
  border-radius: 5px;
}
.menu-container .menu__title {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: bold;
}
.menu__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.menu__item {
  position: relative;
  margin-top: 3rem;
}
.menu__item .item__img {
  margin-right: 1.5rem;
  position: absolute;
  width: 120px;
  height: 120px;
}
.menu__item .item__background {
  width: 152px;
  height: 80px;
  background-color: var(--color-primary-600);
  border-radius: 5px;
  margin-top: 6rem;
}
.menu__item .item--btn {
  font-size: 16px;
  position: absolute;
  margin: 0 2.5rem;
  margin-top: -1rem;
  text-align: center;
  width: 100px;
  height: 32px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 5px 5px var(--color-natural-100);
  color: var(--color-natural-800);
  background-color: var(--color-white);
}
.menu__item .item--btn:hover {
  box-shadow: none;
}
@media screen and (min-width: 1024px) {
  .menu-container {
    margin-bottom: 6rem;
  }
  .search-container {
    display: none;
  }
  .menu-container .menu__title {
    margin-top: 4rem;
    font-size: 26px;
  }
  .menu__items {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 1440px;
  }

  .menu__item .item__img {
    margin-right: 2.2rem;
    width: 240px;
    height: 240px;
  }
  .menu__item .item__background {
    width: 287.5px;
    height: 160px;
    margin-top: 11rem;
  }
  .menu__item .item--btn {
    font-size: 18px;
    width: 155px;
    height: 48px;
    margin-right: 7rem;
    margin-top: -2.5rem;
  }
}

/* introduction */
.introduction-container {
  margin-top: 8rem;
  position: relative;
}

.introduction__img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: absolute;
}
.introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.introduction__info,
.introduction__items {
  padding: 0 2rem;
}
.introduction__info-title,
.introduction__info-text {
  color: var(--color-white);
}
.introduction__info-title {
  font-weight: bold;
  font-size: 18px;
  margin: 1rem;
}
.introduction__info-text {
  width: 320px;
  text-align: justify;
  margin: 1rem;
  font-size: 14px;
  font-weight: medium;
}
.introduction__btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 152px;
  height: 32px;
  border: 1px solid var(--color-white);
  border-radius: 5px;
  color: var(--color-white);
  padding: 1.75rem 2rem;
  margin: 2rem;
  margin-right: 17rem;
}

.introduction--mobile-icon {
  display: block;
}
.introduction--desktop-icon {
  display: none;
}
.introduction__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  top: 25rem;
  margin: 0.5rem 5rem;
}
.introduction__item {
  width: 136px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--color-white);
}
.item--mobile-icon {
  display: block;
}
.item--desktop-icon {
  display: none;
}

@media screen and (min-width: 1024px) {
  .introduction {
    width: 1440px;
    height: 350px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    right: 4rem;
    margin: 3rem 0;
  }
  .introduction__img img {
    height: 370px;
  }
  .introduction__info {
    width: 700px;
  }
  .introduction__info-title {
    font-size: 28px;
    margin: 1rem;
  }
  .introduction__info-text {
    width: 100%;
    margin: 0;
    margin-top: 2rem;
    font-size: 18px;
  }
  .introduction__btn {
    width: 184px;
    height: 40px;
    margin-right: 45rem;
  }
  .introduction__items {
    width: 392px;
    height: 280px;
    margin-top: 4rem;
  }
  .introduction__item {
    width: 200px;
  }
  .introduction__item p {
    margin-top: 1rem;
    font-size: 16px;
  }
  .introduction--mobile-icon {
    display: none;
  }
  .introduction--desktop-icon {
    display: block;
  }

  .item--mobile-icon {
    display: none;
  }
  .item--desktop-icon {
    display: block;
  }
}

/* branches */
.branches-container {
  margin-top: 50rem;
  margin-bottom: 8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.branches-container h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 3rem;
}
.branches__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.branches__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 90px;
  border: 2px solid var(--color-natural-100);
  border-radius: 8px;
  cursor: pointer;
}
.branches__card--img {
  width: 144px;
  height: 90px;
  object-fit: cover;
  border-radius: 0 8px 8px 0;
}
.branches__card:hover {
  border: 2px solid var(--color-primary-600);
}
.branches__card--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  margin-left: 1rem;
}
.branches__card--text span {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0.5rem;
}
.branches__card--text p {
  font-size: 12px;
  color: var(--color-natural-400);
  margin-top: 0.5rem;
}
.branches__card--btn {
  display: none;
}

@media screen and (min-width: 1024px) {
  .branches-container h3 {
    font-size: 26px;
  }
  .branches__cards {
    flex-direction: row;
  }
  .branches__card {
    border: 1px solid var(--color-natural-100);
    flex-direction: column;
    width: 288px;
    height: 344px;
    position: relative;
  }
  .branches__card--img {
    width: 100%;
    height: 230px;
    border-radius: 8px 8px 0 0;
  }
  .branches__card:hover {
    border: 1px solid var(--color-primary-600);
    box-shadow: var(--box-shadow);
  }
  .branches__card:hover .branches__card--btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 128px;
    height: 32px;
    font-size: 16px;
    color: var(--color-primary-700);
    border: 1px solid var(--color-primary-700);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }
  /* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    z-index: 10;
  } */

  /* .branches__card:hover .branches__card--img:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.3);
  } */
  .branches__card:hover .branches__card--img {
    z-index: 5;
    background: rgba(0, 0, 0, 0.3);
    /* background: rgba(0, 0, 0, 0); */
    height: 190px;
  }
  .branches__card--text {
    justify-content: center !important;
    width: 250px;
    height: 90px;
    margin-bottom: 1rem;
  }
  .branches__card--text span {
    font-size: 18px;
    font-weight: bold;
  }
  .branches__card--text p {
    font-size: 16px;
    color: var(--color-natural-400);
    margin-top: 0.5rem;
  }
  .branches__card:hover .branches__card--text {
    margin-bottom: 4rem;
  }
}

/* footer */
.footer-container {
  position: relative;
}
.footer-container img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  position: absolute;
}
.footer {
  width: 360px;
  margin: 3rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: absolute;
  color: var(--color-white);
}
.footer__items h3 {
  font-size: 18px;
  font-weight: bold;
}
.footer__items ul li {
  font-size: 14px;
  font-weight: normal;
  margin: 1rem 0;
  cursor: pointer;
}
.footer__icons--mobile {
  display: block;
}
.footer__icons--desktop {
  display: none;
}
.footer__icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__items.contact-to-tarkhineh {
  display: none;
}

@media screen and (min-width: 1024px) {
  .footer-container img {
    height: 370px;
  }
  .footer__items.contact-to-tarkhineh {
    display: flex;
    flex-direction: column;
  }
  .footer {
    width: 1440px;
    margin-top: 5rem;
  }
  .contact__item {
    width: 600px;
    height: 204px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact__inputs {
    display: flex;
    flex-direction: column;
    background-color: none;
    justify-content: space-around;
  }

  .contact__inputs input {
    border-radius: 5px;
    padding: 2rem;
    width: 276px;
    height: 40px;
    border: 1px solid var(--color-natural-400);
  }
  .footer__items h3 {
    font-size: 22px;
    font-weight: bold;
  }
  .footer__items ul li {
    font-size: 18px;
  }
  .footer__icons--mobile {
    display: none;
  }
  .footer__icons--desktop {
    display: block;
  }
  .contact__textarea {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .contact__textarea textarea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 286px;
    height: 180px;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid var(--color-natural-400);
  }
  .contact__textarea textarea[type='text'],
  .contact__inputs input[type='text'] {
    background: none;
  }
  .contact__textarea textarea[type='text']::placeholder,
  .contact__inputs input[type='text']::placeholder {
    color: var(--color-white);
    font-weight: 100;
    font-size: 16px;
  }
  .contact__textarea p {
    font-weight: normal;
    font-size: 14px;
  }
  .contact--btn {
    width: 183px;
    height: 40px;
    border: 1px solid var(--color-natural-400);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }
}
