@import url('././assets/fonts/font.css');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*roots*/

:root {
  --color-white: #fff;
  --color-primary-800: #294f36;
  --color-primary-700: #315f41;
  --color-primary-600: #417f56;
  --color-primary-500: #b0d7bd;
  --color-primary-400: #cae4d3;
  --color-primary-300: #e5f2e9;
  --color-natural-100: #e1e1e1;
  --color-natural-400: #717171;
  --color-natural-800: #353535;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.8;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}

body {
  min-height: 100vh;
  font-family: 'Vazir';
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
  direction: rtl;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
/* .app-container {
  max-width: 1140px;
  margin: 0 auto;
} */
.navbar-container {
  background-color: var(--color-white);
  height: 64px;
  position: sticky;
  z-index: 10;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.navbar__icons {
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__icons .icon__card,
.navbar__icons .icon__user {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-300);
  color: var(--color-primary-800);
  border-radius: 5px;
  width: 30px;
  height: 30px;
}
.navbar__icons .icon__search {
  display: none;
}
.navbar__items ul {
  display: none;
}
@media screen and (min-width: 1024px) {
  .app-container {
    max-width: 100%;
    /* margin: 0 auto; */
  }
  .navbar-container {
    max-width: 1440px;
    margin: auto;
    height: 75px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  .navbar__menue {
    display: none;
  }
  .navbar__icons {
    width: 130px;
  }
  .navbar__icons .icon__card,
  .navbar__icons .icon__user,
  .navbar__icons .icon__search {
    width: 40px;
    height: 40px;
  }
  .navbar__icons .icon__search {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-300);
    color: var(--color-primary-800);
    border-radius: 5px;
  }
  .navbar__items ul {
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    color: var(--color-natural-400);
  }
  .navbar__items ul li {
    cursor: pointer;
  }
}

/* banner */
.swiper {
  width: 100%;
  height: 176px;
}
.swiper__slide {
  text-align: center;
  padding-top: 4em;
  height: 176px;
  background-image: var(--image-url);
  background-size: cover;
  background-position: center;
}
.swiper__text {
  font-size: 18px;
  color: var(--color-white);
  font-weight: bold;
}
.swiper__btn {
  background-color: var(--color-primary-600);
  padding: 0.75rem 2rem;
  font-size: 14px;
  font-weight: medium;
  color: var(--color-white);
  border-radius: 5px;
  margin-top: 2rem;
}

.swiper-pagination {
  background-color: var(--color-white);
  width: fit-content !important;
  position: absolute;
  bottom: -0.25em !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto;
  padding: 0.5em 0.25em;
  border-radius: 1.5em;
  display: flex;
  align-items: center;
}
.swiper-pagination::before {
  content: '';
  width: 2.2em;
  height: 1.5em;
  background-color: var(--color-white);
  position: absolute;
  left: 0;
  top: 0.55em;
  transform: rotate(-45deg) translate(-1em, -0.65em);
}
.swiper-pagination::after {
  content: '';
  width: 2.2em;
  height: 1.5em;
  background-color: var(--color-white);
  position: absolute;
  right: 0;
  top: 0.55em;
  transform: rotate(45deg) translate(1em, -0.65em);
}
.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background-color: #adadad !important;
  opacity: 1 !important;
  z-index: inherit;
}
.swiper-pagination-bullet-active {
  width: 8px !important;
  height: 8px !important;
  background-color: #417f56 !important;
  z-index: inherit;
  box-shadow: 0 0 0 3px #e5f2e9;
}

@media screen and (min-width: 1024px) {
  .swiper {
    height: 336px;
  }

  .swiper__text {
    font-size: 26px;
    margin-top: 7rem;
  }
  .swiper__btn {
    width: 184px;
    height: 40px;
    margin-top: 5rem;
    font-size: 16px;
  }
}

/* menu */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-container {
  width: 320px;
  height: 32px;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-natural-100);
  padding: 0.75rem 1rem;
  border-radius: 5px;
}
.menu-container .menu__title {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: bold;
}
.menu__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.menu__item {
  position: relative;
  margin-top: 3rem;
}
.menu__item .item__img {
  margin-right: 1.5rem;
  position: absolute;
  width: 120px;
  height: 120px;
}
.menu__item .item__background {
  width: 152px;
  height: 80px;
  background-color: var(--color-primary-600);
  border-radius: 5px;
  margin-top: 6rem;
}
.menu__item .item--btn {
  font-size: 16px;
  position: absolute;
  margin: 0 2.5rem;
  margin-top: -1rem;
  text-align: center;
  width: 100px;
  height: 32px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 5px 5px var(--color-natural-100);
  color: var(--color-natural-800);
  background-color: var(--color-white);
}
.menu__item .item--btn:hover {
  box-shadow: none;
}
@media screen and (min-width: 1024px) {
  .menu-container {
    margin-bottom: 6rem;
  }
  .search-container {
    display: none;
  }
  .menu-container .menu__title {
    margin-top: 4rem;
    font-size: 26px;
  }
  .menu__items {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 1440px;
  }

  .menu__item .item__img {
    margin-right: 2.2rem;
    width: 240px;
    height: 240px;
  }
  .menu__item .item__background {
    width: 287.5px;
    height: 160px;
    margin-top: 11rem;
  }
  .menu__item .item--btn {
    font-size: 18px;
    width: 155px;
    height: 48px;
    margin-right: 7rem;
    margin-top: -2.5rem;
  }
}

/* introduction */
.introduction-container {
  margin-top: 8rem;
  position: relative;
}

.introduction__img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: absolute;
}
.introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.introduction__info,
.introduction__items {
  padding: 0 2rem;
}
.introduction__info-title,
.introduction__info-text {
  color: var(--color-white);
}
.introduction__info-title {
  font-weight: bold;
  font-size: 18px;
  margin: 1rem;
}
.introduction__info-text {
  width: 320px;
  text-align: justify;
  margin: 1rem;
  font-size: 14px;
  font-weight: medium;
}
.introduction__btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 152px;
  height: 32px;
  border: 1px solid var(--color-white);
  border-radius: 5px;
  color: var(--color-white);
  padding: 1.75rem 2rem;
  margin: 2rem;
  margin-right: 17rem;
}

.introduction--mobile-icon {
  display: block;
}
.introduction--desktop-icon {
  display: none;
}
.introduction__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  top: 25rem;
  margin: 0.5rem 5rem;
}
.introduction__item {
  width: 136px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--color-white);
}
.item--mobile-icon {
  display: block;
}
.item--desktop-icon {
  display: none;
}

@media screen and (min-width: 1024px) {
  .introduction {
    width: 1440px;
    height: 350px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    right: 4rem;
    margin: 3rem 0;
  }
  .introduction__info {
    width: 700px;
  }
  .introduction__info-title {
    font-size: 28px;
    margin: 1rem;
  }
  .introduction__info-text {
    width: 100%;
    margin: 0;
    margin-top: 2rem;
    font-size: 18px;
  }
  .introduction__btn {
    width: 184px;
    height: 40px;
    margin-right: 45rem;
  }
  .introduction__items {
    width: 392px;
    height: 280px;
    margin-top: 4rem;
  }

  .introduction__item p {
    margin-top: 1rem;
    font-size: 14px;
  }
  .introduction--mobile-icon {
    display: none;
  }
  .introduction--desktop-icon {
    display: block;
  }

  .item--mobile-icon {
    display: none;
  }
  .item--desktop-icon {
    display: block;
  }
}
